[submodule "services/i-am-not-a-number"]
	path = services/i-am-not-a-number
	url = https://github.com/HermasTV/i-am-not-a-number
[submodule "services/documents-services"]
	path = services/documents-services
	url = https://github.com/HermasTV/documents-services.git
